<% layout ('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">Edit Rink</h1>
    <div class="col-6 offset-3">
        <form action="/rinks/<%= rink._id %>?_method=PUT" method="post" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="rink[title]" value="<%= rink.title %>" required>
                <div class="valid-feedback">
                    Looks good
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="rink[location]" value="<%= rink.location %>" required>
                <div class="valid-feedback">
                    Looks good
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Add Image(s)...</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="rink[description]" required><%= rink.description %></textarea>
                <div class="valid-feedback">
                    Looks good
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Rink</button>
            </div>
        </form>
        <a href="/rinks/<%= rink._id %>">Back to Rink</a>
    </div>
</div>