<% layout ('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/starability-coinFlip.css">

<div class="row">
    <div class="col-md-6 col-xl-7">
        <div id="rinkCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <% if (rink.images.length === 0) { %>
                    <div class="carousel-item active" %>">
                        <img src="https://res.cloudinary.com/dmmbzjpzz/image/upload/w_900/v1612559445/PuckFinder/noImagesAvailable_cqa8ny.png" class="d-block w-100" alt="">
                    </div>
                <% } else { %>
                    <% rink.images.forEach((img, i) => { %>
                        <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                            <img src="<%= img.showPage %>" class="d-block w-100" alt="">
                        </div>
                    <% }) %>
                <% } %> 
            </div>
            <% if (rink.images.length > 1) { %>
                <a class="carousel-control-prev" href="#rinkCarousel" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#rinkCarousel" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </a>
            <% } %>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-8 my-3">
                        <h5 class="card-title"><%= rink.title %></h5>
                        <p class="card-text"><%= rink.description %></p>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-4 border border-3 rounded p-3">
                        <form class="d-block my-2 justify-content-center d-flex" action="/rinks/<%= rink._id %>/checkIn?_method=PATCH" method="post">
                            <button class="btn btn-dark">Check in for 1 hour</button>
                        </form>
                        <p class="card-text justify-content-center d-flex">Player Count: <%= rink.playerCount %></p>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%= rink.location %></li>
              <li class="list-group-item">Submitted by <%= rink.author.username %></li>
            </ul>
            <% if (currentUser && rink.author.equals(currentUser._id)) { %>
                <div class="card-body">
                    <a class="card-link btn btn-warning" href="/rinks/<%= rink._id %>/edit">Edit</a>
                    <form class="d-inline" action="/rinks/<%= rink._id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>             
            <% } %>
            <!-- <div class="card-footer text-muted">
                2 days ago
            </div> -->
        </div>
    </div>
    <div class="col-md-6 col-xl-5">
        <div id='map'></div>
        <a href="https://www.google.com/maps/dir/?api=1&destination=<%= rink.geometry.coordinates.reverse() %>" class="btn btn-primary my-3 d-block">Take me there!</a>
        <% if (currentUser) { %>
            <h2 class="mb-3">Leave a Review</h2>
            <form action="/rinks/<%= rink._id %>/reviews" method="POST" class="mb-3 validated-form" novalidate>
                <div class="">
                    <fieldset class="starability-coinFlip">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" checked/>
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                    <div class="valid-feedback">
                        Looks good
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
        <% } %>
        <% for(let review of rink.reviews) { %> 
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"> <%= review.author.username%></h5>
                    <p class="starability-result" data-rating="<%=review.rating%>">
                        Rated: <%= review.rating %> stars
                    </p>
                    <p class="card-text">Review: <%= review.body %></p>
                    <% if (currentUser && review.author.equals(currentUser._id)) { %>
                        <form action="/rinks/<%= rink._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
        <% } %> 
    </div>
</div>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const rink = <%- JSON.stringify(rink) %>;
</script>
<script src="/javascripts/showPageMap.js"></script>